body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  padding: 0;
  margin: 0;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  max-width: 196px;
  line-height: 1.44;
  padding-left: 53px;
  padding-top: 50px;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f4f7f9;
  height: 320px;
}

.menu-background {
  background-color: #293449;
  height: 42px;
}

.menu-header {
  width: 940px;
  margin: 0 auto;
  display: flex;
/*  justify-content:flex-end;*/
  align-items: center;
}

.menu-header a {
  margin: 0;
  padding: 0;
  font-size: 17px;
  color: #ffffff;
}

.logo-header {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  width: 220px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.header-body {
  height: 158px;
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
/*  align-items: baseline;*/
}

.header-body a {
  font-size: 21px;
  color: #000000;
}

.header-body-catalog {
  height: 158px;
  width: 940px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-body-catalog span {
  width: 299px;
  height: 45px;
  font-size: 21px;
  text-align: left;
  color: #000000;
}

.header-body-catalog span:active {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
}

.header-body-catalog a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.header-body-catalog a:hover {
  color: #ee3643;
}

.header-body-catalog a:active {
  opacity: 0.3;
  color: rgba(50, 66, 92, 0.3);
}

.find {
  width: 270px;
  height: 42px;
  background-color: #293449;
  position: relative;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.menu-header .find {
  padding-left: 49px;
  box-sizing: border-box;
  opacity: 1;
}

.find:hover,
.bookmarks:hover,
.card:hover {
  background-color: #212a3a;
}

.find:focus {
  width: 270px;
  height: 42px;
  background-color: #ffffff;
  сolor: #000000;
}

.find::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 17px;
  height: 17px;
  background-image: url("img/icon-search.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
  opacity: 0.3;
}

.find:hover::before,
.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.find:focus::before{
  background-image: url("img/icon-search2.svg");
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.3;
}

.bookmarks {
  width: 150px;
  height: 42px;
  background-color: #293449;
  position: relative;
  display: flex;
  align-items: center;
}

.menu-header .bookmarks {
  padding-left: 44px;
  box-sizing: border-box;
}

.bookmarks:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  background-color: #161d29;
}

.bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url("img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left: 17px;
  right: 13px;
  opacity: 0.3;
}

.cart {
  width: 150px;
  height: 42px;
  background-color: #293449;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 15px;
  height: 15px;
  background-image: url("img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.menu-header .cart: {
  padding-left: 50px;
  box-sizing: border-box;
}

.make-order {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-order:hover {
  background-color: #5fbb2d;
}

.make-order:active {
  background-color: #518534;
  margin-right: 130px;
}

.adress {
  font-size: 14px;
  color: #32425c;
  width: 270px;

}

.phone-number {
  height: 40px;
  border: solid 3px #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.phone-number::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 19px;
  height: 19px;
  background-image: url("img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.authorization {
  display: flex;
  padding-top: 48px;
}

.log-in {
  width: 121px;
  height: 45px;
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  margin-right: 10px;
  display: flex;
  /*justify-content: center;*/
  align-items: center;

}

.log-in {
    padding-left: 48px;
    box-sizing: border-box;
}

.log-in::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.log-in:hover,
.register:hover {
  color: #ee3643;
}

.log-in:active,
.register:active {
  color: rgba(0, 0, 0, 0.3);
}

.log-in:hover::before{
  background-image: url("img/icon-login2.svg");
}

.log-in:active::before{
  background-image: url("img/icon-login.svg");
}

.register {
  width: 150px;
  height: 45px;
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-layout a{
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-top: 25px;
}

.category-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #f2f6f8;
}

.category {
  margin-top: 25px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: #32425c;
  padding-left: 30px;
}

.filter-item,
.manufacturer-list,
.power-list {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 21px;
}

.filter-item legend {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.76;
}

.filter-option {
  padding-bottom: 17px;
  padding-left: 35px;
}


.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;


}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("img/checkbox-on.svg");
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -5px;
  width: 25px;
  height: 25px;
  background-image: url("img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("img/radio-on.svg");
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls input {
  width: 95px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 14px;
  font-family: "PT Sans";
  font-size: 17px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.max-price {
  text-align: right;
}

.price-controls .content-price input {
  width: 10px;
  height: 1px;
  font-size: 16px;
  text-align: center;
  font-size: 16px;
  color: #444444;
}

.filters h3 {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  display: flex;
  align-items: center;

}
hr {
  width: 220px;
  size: 1px;
  padding: 0;
  margin: 25px 0;
}

.user-block {
  position: relative;
  /*background-color: #ffffff;*/
  width: 299px;
  height: 45px;
}

.user-block:hover {
  /*color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;*/
}

.user-block:active {
  /*color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;*/
}

.user-block span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-login-name {
  text-align: left;
  color: #000000;
}

.user-login-name:hover {
  color: #000000;
}

.user-login-name:active {
  opacity: 0.3;
}

.user-login-name::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;
  width: 20px;
  height: 18px;
  background-image: url("img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-login-name:hover::before {
  background-image: url("img/icon-user2.svg");
}

.user-login-name:active::before {
  background-image: url("img/icon-user.svg");
}

.user-login-name::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 16px;
  width: 20px;
  height: 17px;
  background-image: url("img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-login-name:hover::after {
  background-image: url("img/icon-logout2.svg");
}

.user-login-name:active::after {
  background-image: url("img/icon-logout.svg");
}

.user-cabinet {
  display: flex;
  justify-content:flex-start;
  padding-top: 10px;
}

.user-cabinet:hover {
 color: #ee3643;
}

.user-cabinet:active {
  color: rgba(50, 66, 92, 0.3);
  opacity: 0.3;
}

.my-orders {
  margin-right: 32px;
  margin-left: 15px;
}

.my-orders::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 6px;
}

.main-navigation {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  width: 940px;
  margin: 0 auto;
  font-size: 17px;
}

.main-navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items:stretch;
  /*padding-left: 20px;*/
}

.main-navigation li {
  list-style: none;
  padding-left: 31px;
  padding-right: 31px;
  display: flex;

  align-items: center;
}
.main-navigation a {
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  text-align: left;

}

.menu-back  a,
.main-navigation a,
.user-menu a {
  color: #ffffff;
}

.main-navigation li:hover {
  background-color: #293449;
  color: #ffffff;
}

.main-navigation li:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.menu-back  a {
  text-align: right;
}

.page-home {
  position: relative;
  padding-left: 15px;
}

.page-home::before {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 12px;
  background-image: url("img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-layout a {
  position: relative;
  padding-left: 30px;
}

.page-layout a::after {
  content: "";
  position: absolute;
  left: 8px;
  width: 8px;
  height: 12px;
  background-image: url("img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.adress {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
/*  align-items:baseline;
  /*padding-top: 46px;*/
}

.adress a {
  font-size: 21px;
  color: #ee3643;
  padding-left: 20px;
}

.adress p {
  width: 250px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
  padding: 0;
  margin: 5px 10px;
}

.user-menu,
.page-layout,
.manufacturers,
/*.filters,*/
.hammer-description {
  width: 940px;
  margin: 0 auto;
}

.manufacturer-list legend,
.power-list legend {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-align: left;
  color: #000000;
  padding-bottom: 25px;
}

.manufacturer-list ul ,
.power-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu-box {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 53px;
}

.user-menu-box li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-menu-box p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  padding-left: 23px;
  padding-top:23px;
}

.user-menu-box:nth-child(3) {
  margin-right: 0;
}

.user-menu-box a {
  width: 135px;
  height: 38px;
  background-color: #000000;
  opacity: 0.1;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.user-menu-button {

  /*  margin-left: 25px;
    margin-bottom: 22px;*/

}
.user-menu-box a:hover {
  opacity: 0.2;
}

.user-menu-box a:active {
  opacity: 0.3;
}

.materials {
  background-color: #ffbf47;
  width: 300px;
  height: 123px;
  position: relative;
  background-image: url(img/icon-materials.svg);
  background-repeat: no-repeat;
  background-position: right 43px top 31px;
}

.materials .new,
.catalog-item .new {
  position: absolute;
  top: 0;
  right: 0;
}

.tool {
  background-color: #3bbce3;
  width: 300px;
  height: 123px;
  background-image: url(img/icon-tool.svg);
  background-repeat: no-repeat;
  background-position: right 28px top 33px;
}

.equipment {
  background-color: #dc91d8;
  width: 300px;
  height: 123px;
  background-image: url(img/icon-equipment.svg);
  background-repeat: no-repeat;
  background-position: right 31px top 31px;
}

.discounts,
.delivery  {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.column-discounts {
  height: 123px;
  width: 300px;
  background-color: #8ed78f;
  margin-top: 20px;
  background-image: url(img/icon-discounts.svg);
  background-repeat: no-repeat;
  background-position: right 45px top 26px;
}

.column-delivery {
  height: 123px;
  width: 300px;
  background-color: #ffc047;
  margin-top: 20px;
  background-image: url(img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: right 31px top 32px;
}

/*
.gallery-button{
  display: flex;
}*/

.slider-container {
  width: 940px;
  margin: 0 auto;
  top: -320px;
  padding: 0 ;
  box-sizing: border-box;
/*  background-color: red;*/
  position: relative;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
/*  position: relative;*/
  width: 940px;
  margin: 0 auto;
  padding: 0;
  top: 20px;
}

.slider-list h2 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 26px;
  padding-top: 20px;
}

.slider-list p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: left;
  color: #ffffff;
  padding-left: 26px;
}

.slider-button {
  width: 195px;
  height: 38px;
  margin-top: 125px;
  margin-left: 25px;
  background-color: #ee3643;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.slider-button:hover {
  background-color: #ca2c37;
}

.slider-button:active {
  background-color: #ba2732;
}

 .slider-button-left::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  background-image: url("img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 113px;
}

.slider-button-right::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  background-image: url("img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 113px;
  left: 578px;
}


.slider-controls {
  position: absolute;
  left: 305px;
  top: 212px;
  z-index: 100;
  width: 620px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.slider-list {

}

.slider-item {
  display: none;
/*  padding: 78px 0 80px 0;*/
}

.slider-item:nth-child(1) {
/*  display: block;
 position: absolute;*/
    background-image: url("img/slider-2.jpg");
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
}

.slider-item:nth-child(2) {
/*  display: none;*/
   /*position: absolute;*/
   background-image: url("img/slider-1.jpg");
   background-repeat: no-repeat;
   width: 620px;
   height: 266px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.popular {
  max-height: 89px;
  width: 940px;
  margin: 0 auto;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 24px;
  box-sizing: border-box;
}

.popular h2 {
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
}

.catalog-header,
.manufacturers-header {
  padding: 0;
  font-size: 30px;
  color: #32425c;
}

.all-catalog-list,
.all-manufacturers-list {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.catalog-index {
  width: 940px;
  margin: 0 auto;
}

.catalog {
  width: 700px;
  margin: 0 auto;
}

.catalog-item {
  width: 220px;
  margin: 20px auto;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  margin: 0;
}

.catalog-list h3 {
  padding: 0;
  margin: 0;
  font-family: "PT Sans";
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.catalog-list del {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #a9a9a9;
}

.catalog-item-price p {
  background-image: url("img/btn-price.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "PT Sans";
  font-size: 17px;
  color: #ffffff;
  min-height: 38px;
  padding-top: 15px;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.buy-button,
.bookmark-button {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border-radius:3px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
}

.buy-button:hover {
  background-color: #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
}

.bookmark-button {
  border: solid 3px #63a63e;
  background: white;
  color: #32425c;
}

.bookmark-button:hover {
  border: solid 3px #32425c;
}

.bookmark-button:active {
  opacity: 0.3;
  border: solid 3px #32425c;
  color: rgba(50, 66, 92, 0.3);
}

.manufacturers-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 940px;
  margin: 10 auto;
  padding: 0;
  margin-bottom: 65px;
}

.manufacturers-item {
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manufacturers-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.service-container {
  background-color: #f4f7f9;
}

.service {
  color: #000000;
  width: 940px;
  margin: 0 auto;
  padding-top: 68px;
  padding-bottom: 99px
}

.service-choice {
  display: flex;
  margin-top: 76px;
}

.service-description h3 {
  text-transform: uppercase;
}

.service h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.service p {
  font-size: 13px;
}

.service a {
  width: 240px;
  height: 61px;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  box-sizing: border-box;
}

.service .slider-service-active {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  font-size: 21px;
  color: #32425c;

}

.service a:hover {
  background-color: #293449;
}

.service-description h3 {
  font-size: 36px;
  text-align: left;
  color: #32425c;
  font-weight: normal;
}

.service p {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  color: #000000;
}

.slider-service {
  display: flex;
  flex-direction: column;
}

.slider-service a{
  padding-left: 23px;
  display: flex;
  align-items: center;
}

.delivery-service {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  background-image: url("img/delivery.jpg");
  background-repeat: no-repeat;
  background-position: right top 23px;
}

.delivery-service p {
  width: 275px;
}

.guarantee-service {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  background-image: url("img/guarantee.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

.guarantee-service p{
  width: 379px;
}

.credit-service {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  background-image: url("img/credit.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

.credit-service p{
  width: 279px;
}

.delivery-service,
.guarantee-service,
.credit-service {
  display: flex;
  width: 620px;
}

.title-delivery,
.title-guarantee,
.title-credit {
  margin: 0;
}

.guarantee-service,
.credit-service {
  display: none;
}

.company h2,
.contacts h2,
.hammer-description h2 {
  font-weight: normal;
  font-size: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.company p,
.contacts p,
.hammer-description p {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  line-height: 1.85;
  font-weight: normal;
  color: #000000;
}

.contacts p {
  width: 179px;
}

.company li {
  font-size: 18px;
  text-align: left;
  color: #000000;
}

.technomart-description {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 82px;
  margin-bottom: 86px;
}

.technomart-description h2 {
  padding: 0;
  margin: 0;
}

.company {
  width: 519px;
}

.company-button {
  width: 220px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 3px;
}

.contacts-button {
  width: 300px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 3px;
}

.company a,
.contacts a  {
  background-color: #ee3643;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-container {
  background-color: #32425c;
}

.logo-footer {
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-navigation {
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.footer-navigation ul{
  list-style: none;
}

.footer-navigation a {
  font-size: 18px;
  text-align: left;
  color: #f1f5f7;
}

.footer-navigation a:hover,
.footer-contacts a:hover{
  text-decoration: underline;
}

.footer-navigation a:active{
  opacity: 0.5;
  color: rgba(241, 245, 247, 0.5);
}

.footer-menu {
  display: flex;
  padding-top: 32px;
}

.footer-user-menu {
  display: flex;
  margin-left: 23px;
  padding-top: 10px;
}

.footer-menu li,
.footer-user-menu li {
  padding-left: 60px;
}

.footer-contacts a:active{
  color: #ee3643;
}

.footer-user-menu a{
   color: #ffd180;
}

.footer-adress p{
  padding-top: 22px;
  padding-bottom: 14px;
  color: #f3f7f9;
}

.contacts-container{
  background-color: #293449;
}

.footer-contacts {
  width: 940px;
  margin: 0 auto;
  /*padding-top: 29px;
  padding-bottom: 19px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social ul {
  list-style: none;
}

.footer-contacts a,
.footer-copyright p {
  font-size: 16px;
  text-align: left;
  color: #000000;
}

.footer-contacts a {
  font-size: 16px;
  text-align: left;
  color: #ffd180;
}

fieldset {
  width: 220px;
}

.catalog-sorting {
  display: flex;
  align-items: flex-start;
  width: 940px;
  margin: 0 auto;
}

.sorting {
  background-color: #f7f3ec;
  width: 700px;
  display: flex;
  align-items: center;
}

.sorting-catalog {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin:0;
  padding: 0;
  margin-left: 75px;
}

.sorting-rules {
  list-style: none;
  display: flex;
  justify-content: space-between;
}


.ascending::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
}

.descending::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  background-image: url("img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position:  0 0;
}


.sorting-item {
  padding:  0 25px;
}

.filters h3,
.sorting h3,
.sorting a {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.sorting-item {
  opacity: 0.18;
  color: rgba(0, 0, 0, 0.18);
}

.sorting-item:hover {
  opacity: 1;
  color: #000000;
}

.sorting-item a:active {
  color: #ee3643;
}


.ascending:active::before {
  background-image: url("img/icon-up-dir2.svg");
}

.descending:active::before {
  background-image: url("img/icon-down-dir2.svg");
}

.filters {
  text-transform: uppercase;
}

legend {
   font-family: "PT Sans";
   font-size: 17px;
   text-align: left;
   color: #000000;
 }

.filters li {
   font-family: "PT Sans";
   font-size: 15px;
   text-align: left;
   color: #000000;
}

.pagination-list {
  width: 940px;
  margin: 0 auto;
  display: flex;
  margin-left: 500px;
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-list li {
   list-style: none;
   width: 38px;
   height: 38px;
}

.pagination-list a {
  font-family: "PT Sans";
  font-size: 13px;
  text-align: center;
  color: #000000;
  padding: 10px 15px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.pagination-item-current a {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-list a:hover{
  border: solid 1px #bdc6ca;
}

.pagination-list a:active{
  border: solid 1px #ee3643;
}

.hammer-description-container {
  height: 261px;
  background-color: #f4f7f9;
}

.hammer-description {
  width: 940px;
  margin: 67 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer-social ul{
  list-style: none;
  width: 132px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  margin-top: 15px;
}

.footer-social li{
  margin-right: 3px;

}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: #293449;
  background-image: url(img/Shape.svg);
  background-repeat: no-repeat;
}

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

}

.modal-login {
  bottom: 120px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  padding: 0;
  border-top: 7px solid #ee3643;
}

.modal-add-cart {
  position: absolute;
  height: 282px;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  top: 411px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  padding: 0;
  border-top: 7px solid #ee3643;
}

.title-art-cart {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: left 81px top 55px;
}

.title-art-cart h2{
  padding-top: 68px;
}

.title-art-cart::before {

}


.login-form {
  padding-top: 86px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
   display: none;
}

.modal-form p{
  display: flex;
  flex-direction: column;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-map {
  top: 50%;
  left: 50%;
  width: 940px;
  height: 447px;
  margin-left: -470px;
  margin-top: -223px;
  /*border: 7px solid white;*/
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.user-container input,
.user-letter input {
  width: 220px;
  height: 38px;
  border: solid 2px #dee3e4;
  background-color: var(--white);
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  text-align: left;
  color: #a9a9a9;
}

.user-container {
  display: flex;
  margin-top: 45px;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: space-between;
}

.user-container label,
.user-letter label {
  padding-bottom: 13px;
}

.user-letter {
  margin-left: 80px;
}

.user-letter input {
  width: 460px;
  height: 114px;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 6px;
  padding: 0;
  width: 23px;
  height: 23px;
  background-image: url("img/icon-close.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  z-index: 3;
}


.form-button-container {
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button-container button {
  width: 220px;
  height: 38px;
}

.modal-form-button {
  width: 460px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.29;
  font-size: 14px;
}

.button-make-order {
  background-color: #ee3643;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 61px;
  margin-right: 20px;
}

.button-continue-purchases {
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 61px;
}
